@font-face
{
font-family: 'Exo';
src: url('../fonts/Exo/Exo-Regular.ttf') format('truetype');
src: url('../fonts/Exo/Exo-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

*
{
margin: 0px;
padding: 0px;

}

body {
	background-color:#ffffff;
}

header {
	width:1440px;
	height:650px;
	padding-top: 160px;
	background: url("../img/backgrHEADER.jpg") no-repeat bottom center;
	}

header h1 {
	display: block;
	width: 705px;
	font-family: Exo;
	font-size: 45px;
	margin: 0 auto;
}

main {
	width:1440px;
}

section {
	width:1440px;
	overflow: hidden;
}

section:nth-child(2) {
	background: url("../img/BG.jpg") no-repeat bottom center;
	padding-top: 100px;
	padding-bottom: 120px; 
}

footer {
	width:1440px;
	height:35px;
	padding-top:15px;
	background-color:#141518;
	text-align:center;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: inherit;
}

ul li {
    list-style-type: none;
}


h2 {
	font-family: Exo;
	font-size: 20px;
	text-transform: uppercase;
	color: #ff9c9c;
	margin: 0 auto;
}

span {
	font-family: Exo;
	font-size: 32px;
	text-transform: none;
	color: #282822;
	margin: 0 auto;
}

p {
	font-family: Exo;
	font-size: 17px;
	margin-top: 8px;
	color:#8a8a8a;
}

.play_icon {
	width: 60px;
	height: 60px;
	margin: 30px auto;
	background: url("../img/play.png") no-repeat bottom center;
}

.button {
	box-sizing: border-box;
	width: 190px;
	height: 50px;
	margin: 0 auto;
	line-height:50px;
	background-color:#ff6d6d;
	border-radius: 5px;
}

.button p {
	text-transform: uppercase;
	font-family: Exo;
	font-size: 17px;
	color: white;
}

.text_center {
	margin: 30px auto;
	text-align: center;
}

.primary {
	width:1440px;
	margin:0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.leftblock {
	float: left;
	width: 870px;
	padding-top: 190px;
	padding-bottom: 170px;
}

.rightblock {
	float: right;
	width: 565px;
	height: 725px;
	background-color: #ececec;
	overflow: hidden;
}

.rose_block2 {
	height: 300px;
	width: 250px;
	background-color: #fb8686;
	transform: rotate(80deg);
	margin-top: 240px;
	margin-left: 75px;
}

.rose_block {
	height: 1270px;
	width: 1070px;
	background-color: #fb8686;
	transform: rotate(45deg);
	margin-top: 240px;
	margin-left: 75px;
}

.inside {
	width: 575px;
	margin: 0 auto;
	
}

.line {
	width: 1200px;
	margin: 60px auto;
	text-align: center;
}

.inline {
	display: inline-block;
	width: 340px;
	margin: 0 8px;
}

.inline img {
	width:70px;
	display:block;
	margin:0 auto;
}

.cloud {
	position:absolute;
	top:138px;
	width:100%;
	z-index:-200;
	
}

.leftblock2 {
	float: left;
	width: 600px;
	padding-left: 90px;
	border: 1px solid;
}

.rightblock2 {
	float: right;
	width: 740px;
	overflow: hidden;
	border: 1px solid;
}

.macbook {
    background-image: url("../img/sec3_macbook.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    height: 345px;
    left: 70px;
    top: 100px;
    z-index: 100;
}



.bannertop {
	width:1195px;
	height:705px;
	float:left;
	background-image:url(img/perfume6.png);
	background-size: 100%;
	/*background-color: #c7b39b;*/
}

.menutop {
	width:391px;
	height:705px;
	float:left;
}

.scroll{
	display:flex;
	width:1590px;
	height:445px;
	justify-content:space-between;
}

.element {
	width:300px;
	
}

.middle {
	width:1530px;
	height:660px;
	padding: 30px;
}

.intomiddle {
	width:365px;
	height:600px;
	float:right;
	margin-right:60px;
	
}


.intomiddle>img {
	display:block;
	height:250px;
	margin:0 auto;
}

.subscription {
	width:1590px;
	height:475px;
}

.info {
	display:flex;
	width:990px;
	height:340px;
	justify-content:space-between;
	background-color: #2b2c30;
	padding-top:45px;
	padding-left:300px;
	padding-right:300px;
	padding-bottom:15px;

}

.list {
	width:130px;
	font-size: 18px;
	color:#ffffff;
}

.list ul li {
	display:block;
	margin-top:10px;
	font-size: 15px;
	color:#717172;
}

.list>p {

}


/*.menutop {
	width: 50%;
	font-size: 15px;
	display: flex;
	justify-content: space-around;
	float: right;
	margin-top: 20px;
}
*/
